.mask-element {
  /* ? The transparent is the ones that will be faded out. */
  /* ? The white is just something that has no opacity on it, you can change it to red and it will work the same. */

  /* ? The white begins at 70%, and then up until 80% it won't be faded out. */
  -webkit-mask: linear-gradient(
    to right,
    transparent,
    white 70%,
    white 80%,
    transparent
  );
  mask: linear-gradient(
    to right,
    transparent,
    white 70%,
    white 80%,
    transparent
  );
}

.mask-element--inner {
  -webkit-mask: linear-gradient(
    to right,
    transparent,
    white 10%,
    white 92%,
    transparent
  );
  mask: linear-gradient(
    to right,
    transparent,
    white 10%,
    white 92%,
    transparent
  );
}
