@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  *:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(16, 148, 221, 0.5);
    transition: all 0.15s;
  }

  html {
    @apply scrollbar;
    font-size: 62.5%;
  }

  body {
    @apply font-normal leading font-general-sans text-gray-1 bg-almost-white-1;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    @apply w-8 h-8;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-almost-white-2/30;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[6px] bg-gray-2/30;
  }

  .heading--primary {
    @apply font-general-sans-bold text-[11rem];
  }

  .heading--secondary {
    @apply font-general-sans-bold text-62;
  }

  .heading--tertiary {
    @apply font-general-sans-medium text-30 leading-medium;
  }
}

#RootLayout section:not(#Hero):not(#NewArrivals):not(#TopSelling) {
  @apply mx-auto max-w-[140rem] px-32;
}
