@tailwind base;
@tailwind components;
@tailwind utilities;

/* ? ----- RESET ----- */
@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  *:focus {
    @apply outline-none shadow-focus-white transition-all;
  }

  html {
    @apply scrollbar;
    font-size: 62.5%;
  }

  body {
    @apply font-normal leading font-general-sans antialiased text-gray-1 bg-almost-white-1;
  }

  body:has(#About) {
    @apply bg-gray-3 text-almost-white-1;
  }
}

/* ? ----- GENERAL COMPONENTS ----- */
@layer components {
  .scrollbar::-webkit-scrollbar {
    @apply w-8 h-8;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-almost-white-2/30;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[6px] bg-gray-2/30;
  }

  .scrollbar-dark::-webkit-scrollbar {
    @apply w-8 h-8;
  }

  .scrollbar-dark::-webkit-scrollbar-track {
    @apply bg-gray-2/30;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    @apply rounded-[6px] bg-almost-white-2/30;
  }

  .heading--primary {
    @apply font-general-sans-bold text-[11rem];
  }

  .heading--secondary {
    @apply font-general-sans-bold text-62;
  }

  .heading--tertiary {
    @apply font-general-sans-medium text-30 leading-medium;
  }
}

/* ? ----- LAYOUT ----- */
#RootLayout
  section:not(#Hero):not(#NewArrivals):not(#TopSelling):not(#CallToAction) {
  @apply mx-auto max-w-[140rem] px-32;
}
