@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  *:focus {
    @apply outline-none shadow-focus-white transition-all;
  }

  html {
    @apply scrollbar;
    font-size: 62.5%;
  }

  body {
    @apply font-normal leading font-general-sans antialiased text-gray-1 bg-almost-white-1;
  }

  body:has(#About) {
    @apply bg-gray-3 text-almost-white-1;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    @apply w-8 h-8;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-almost-white-2/30;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[6px] bg-gray-2/30;
  }

  .scrollbar-dark::-webkit-scrollbar {
    @apply w-8 h-8;
  }

  .scrollbar-dark::-webkit-scrollbar-track {
    @apply bg-gray-2/30;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    @apply rounded-[6px] bg-almost-white-2/30;
  }

  .heading--primary {
    @apply font-general-sans-bold text-[11rem];
  }

  .heading--secondary {
    @apply font-general-sans-bold text-62;
  }

  .heading--tertiary {
    @apply font-general-sans-medium text-30 leading-medium;
  }
}

/* *----- LAYOUT ----- */
#RootLayout section:not(#Hero):not(#NewArrivals):not(#TopSelling) {
  @apply mx-auto max-w-[140rem] px-32;
}

/* *----- OUR TEAM ----- */
.mask-element {
  /* ? The transparent is the ones that will be faded out. */
  /* ? The white is just something that has no opacity on it, you can change it to red and it will work the same. */

  /* ? The white begins at 70%, and then up until 80% it won't be faded out. */
  -webkit-mask: linear-gradient(
    to right,
    transparent,
    white 70%,
    white 80%,
    transparent
  );
  mask: linear-gradient(
    to right,
    transparent,
    white 70%,
    white 80%,
    transparent
  );
}

.mask-element--inner {
  -webkit-mask: linear-gradient(
    to right,
    transparent,
    white 10%,
    white 92%,
    transparent
  );
  mask: linear-gradient(
    to right,
    transparent,
    white 10%,
    white 92%,
    transparent
  );
}
